<html>

<head>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<%-include('header2')-%>
    <body>
        <!-- <div   class=" card-3">
        <form action="/update" method="post">
       
                Name
              <input type="text" value="<%=data.name%>" name="name">
                    
<br><br>
          
              Age
              
                    <input type="text" value="<%=data.age%>" name="age">
                   
          <br><br>
       

        <input type="hidden" name="id" value="<%=data._id%>">
        <input type="Submit">
    </form>
   </div> -->
  <!-- /----- -->
<div>

    <form  class ="second" action="/update" method="post">
        <h2>Update</h2>
    
        <input type="text" name="name"  value="<%=data.name%>" class="ini" placeholder="name"> <br>
        
        <input type="number" name="age" value="<%=data.age%>" class="ini" placeholder="price">
    <br>
    <input type="hidden" name="id" value="<%=data._id%>">
        <button class="but" type="submit">Update</button>
      </form>
</div>

    </body>
</html>













<style>
.second{
    display: block;
    margin: auto;
}

body{
    background-image: url("../images/first.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

</style>
